$myFont: Poppins;
$bodyWidth: 100vw;
$bodyHeight: 100vh;
$navbarHeight: 13vh;
$navbarColor: blue;
$navbarTextColor: white;
$drawerTextColor: black;
$footerHeight: 3.5vh;
$bottomDrawerHeight: 10vh;
$topDrawerHeight: 10vh;
$sideDrawerWidth: 300px;
$iconSize: 5vh;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $myFont;
}

body {
  position: relative;
  width: $bodyWidth;
  height: $bodyHeight;
  background: #e4e4e4;
}

.center {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: $bodyWidth;
  height: $navbarHeight;
  background: $navbarColor;
  .top-drawer {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $drawerTextColor;
    position: fixed;
    top: $navbarHeight;
    left: 0;
    width: $bodyWidth;
    height: auto;
    background: rgba(191, 191, 191, 0.5);
    .app-icon {
      cursor: pointer;
      margin: 0.75vh;
    }
  }

  .drawer-header {
    margin-left: 2.5vw;
  }

  .active {
    display: none;
  }
  .left-drawer {
    display: none;
    color: $drawerTextColor;
    position: fixed;
    left: 0;
    top: $navbarHeight;
    width: $sideDrawerWidth;
    height: ($bodyHeight - ($footerHeight - $navbarHeight));
    background: rgba(191, 191, 191, 0.5);
  }
  .right-drawer {
    display: none;
    color: $drawerTextColor;
    position: fixed;
    right: 0;
    top: $navbarHeight;
    width: $sideDrawerWidth;
    height: ($bodyHeight - ($footerHeight - $navbarHeight));
    background: rgba(191, 191, 191, 0.5);
  }
}

.footer {
  color: $navbarTextColor;
  font-weight: 200;
  font-size: 18px;
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  width: $bodyWidth;
  text-align: center;
  height: $footerHeight;
  background-color: $navbarColor;
  .bottom-drawer {
    display: none;
    color: $drawerTextColor;
    z-index: 2;
    position: fixed;
    left: 0;
    bottom: $footerHeight;
    width: $bodyWidth;
    text-align: center;
    height: auto;
    background: rgba(191, 191, 191, 0.5);
  }
}

.brand {
  width: 80vw;
  display: flex;
  margin-top: 1vh;
  margin-left: 7vw;
  .brand-logo {
    cursor: pointer;
    width: $iconSize;
    height: $iconSize;
  }
  .brand-title {
    cursor: pointer;
    display: flex;
    justify-items: center;
    font-size: 26px;
    margin-left: 10px;
  }
}

.hamburger {
  cursor: pointer;
  color: $navbarTextColor;
  float: right;
  margin-top: 2vh;
  margin-right: 2vh;
  position: relative;
  width: $iconSize;
  height: $iconSize;
}

.icon {
  cursor: pointer;
  color: $navbarTextColor;
  margin-top: 2vh;
  margin-right: 2vh;
  width: $iconSize;
  height: $iconSize;
}

.drawer-icon {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75vh;
  margin-bottom: 1.5vh;
}
